acme==1.9.0
beautifulsoup4==4.9.3
certbot==1.9.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
ConfigArgParse==1.2.3
configobj==5.0.6
cryptography==3.4.6
distro==1.5.0
dns-lexicon==3.5.3
filelock==3.0.12
future==0.18.2
idna==2.10
josepy==1.5.0
mock==4.0.2
parsedatetime==2.6
pycparser==2.20
pyOpenSSL==19.1.0
pyRFC3339==1.1
pytz==2020.4
PyYAML==5.3.1
requests==2.24.0
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.15.0
soupsieve==2.0.1
tldextract==3.1.0
urllib3==1.25.11
zope.component==4.6.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.interface==5.1.2
zope.proxy==4.3.5
